@import "./bootstrap.scss";

@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

$font-family-sans-serif: Roboto, sans-serif;
$fontColor: #939598;
$pointer: url("../../img/pointer.png"), pointer;
$mainFontSize: 16px;
$headerFontSize: 20px;

$navbarPaddingTop: 22px;
$navbarChildMarginTop: 37px;

$h1FontSize: 48px;
$h1MarginBottom: 26px;

$blue: #185a9d;
$hoverColor: #589fe6;
$grey: #f4f4f4;
$dark: #4c4c4c;

$inputBorderColor: #cccccc;

.body {
  font-size: $mainFontSize;
  font-family: $font-family-sans-serif;
  margin: 0;
  color: $fontColor;
  &__header {
    margin-bottom: 104px - ($h1FontSize / 100 * 15);
  }

  line-height: normal;
}

.document {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
}

.ul {
  padding: 0;

  &__li {
    list-style: none;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $dark;
  font-weight: bold;
}

.h1 {
  font-size: $h1FontSize;
  &_blue {
    color: $blue;
  }

  &_center {
    text-align: center;
  }
}

.h2 {
  font-size: 27px;
  font-weight: 500;
}

.input {
  border: 1px solid $inputBorderColor;
  padding: 2px 11px 0 11px;
  box-sizing: content-box;
}

.checkbox {
  display: none;

  + .label:before {
    content: " ";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    vertical-align: bottom;
    height: 18px;
    width: 18px;
    border: 1px solid #999999;
    margin-right: 17px;
  }

  &:checked {
    + .label:before {
      content: "\f00c";
    }
  }
}

.button {
  color: #fff;
  background-color: $blue;
  border: none;
  text-align: center;
  transition: 0.3s background-color, 0.4s color;
  text-transform: uppercase;
  font-size: 14px;

  &:not(:disabled) {
    cursor: $pointer;
  }

  &:hover {
    background-color: $hoverColor;
  }

  &:active {
    color: $dark;
    background-color: $grey;
  }
}

.link {
  cursor: $pointer;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit !important;
    text-decoration: underline;
  }
}

.p {
  margin: 0;
}

%border-block {
  border-bottom: 1px solid #dddddd;
}

.navbar {
  font-size: $headerFontSize;
  font-weight: 500;
  align-items: flex-start;
  padding: $navbarPaddingTop 0 0 0;
  color: #333333;

  &-brand {
    margin: 0 65px 0 29px;
    padding: 0;
  }

  &-nav {
    margin-top: 0;
    text-transform: uppercase;
  }

  &-collapse {
    margin-top: $navbarChildMarginTop - $navbarPaddingTop;
  }

  &-toggler {
    margin-top: $navbarChildMarginTop - $navbarPaddingTop;
  }

  &__phone {
    font-size: 18px;
    margin-top: 5px;
  }

  &__number {
    &_bold {
      font-size: 20px;
      font-weight: bold;
    }
    margin-bottom: 6px;
  }

  &__phone-logo {
    color: #185a9d;
    font-size: 30px;
    vertical-align: middle;
    margin-right: 32px;
  }

  &__callback {
    font-size: 16px;
    margin-left: 24px;
  }

  &__phone-wrapper {
    display: inline-block;
    vertical-align: middle;
  }
}

.nav {
  &-link {
    padding: 0 0 0 24px !important;
  }
}

.slider {
  position: relative;
  padding-bottom: 40px;
  /* for IE */
  -ms-scroll-limit: 0 0 0 0;
  -ms-overflow-style: none;

  overflow-x: visible;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  font-size: 24px;
  @extend %border-block;

  /* wrapper for Firefox */
  &__elements-wrapper {
    min-width: 0px;
    min-height: 0px;
    width: 100%;
    overflow: hidden;
  }

  &__element {
    display: inline-flex;
    width: calc(100% / 3);
  }

  &__elements-group {
    width: 300%;
    transition: 0.6s margin-left;
    margin-left: 0;
  }

  &__nav {
    margin-top: 34px;
    display: flex;
    align-items: center;
    align-self: center;
  }

  &__left,
  &__right {
    display: inline-block;
    background-color: $blue;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    font-size: 18px;
  }

  &__left:before,
  &__right:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__left,
  &__selector {
    margin-right: 14px;
  }

  &__selector {
    display: inline-block;
    width: 44px;
    height: 6px;
    background-color: $grey;

    &_active {
      background-color: $blue;
    }
  }
}

.slider-element {
  &__title {
    margin-bottom: $h1MarginBottom;
  }

  &__text {
    margin-left: 3px;
  }

  &__picture {
    margin-left: 200px;
    margin-top: 1em;
  }

  &__details {
    margin-top: 30px;
  }

  &__details-button {
    text-transform: uppercase;
    font-size: 24px;
    padding: 8px 82px 16px 82px;
  }
}

.we-do {
  text-align: center;
  padding-top: 59px;
  padding-bottom: 73px;
  @extend %border-block;

  &__title {
    margin-bottom: 74px;
  }
}

.benefit {
  text-align: center;
  line-height: 27px;

  &__logo {
    margin-bottom: 28px;
  }

  &__title {
    line-height: 67px;
    margin-bottom: 0;
  }
}

.videos {
  padding-top: 62px;
  padding-bottom: 53px;
  @extend %border-block;

  &__text {
    line-height: 24px;
    font-weight: 200;
  }

  &__title {
    font-size: 24px;
    margin-top: -5px;
    margin-right: 219px;
    margin-bottom: 28px;
  }
}

$productCardColor: #eeeeee;

.catalog {
  padding-top: 27px;
  padding-bottom: 25px;
  @extend %border-block;
  text-align: center;
  &__title {
    margin-bottom: 30px;
  }

  &__products {
    margin-bottom: 40px;
  }

  &__view-all {
    padding: 8px 38px 10px 38px;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.product-card {
  padding: 20px;
  text-align: left;
  display: block;
  color: inherit;
  border: 1px solid $productCardColor;
  cursor: $pointer;
  transition: 200ms box-shadow;

  &:hover {
    color: inherit;
    text-decoration: none;
    box-shadow: 0 0 12px 0.4px rgba(0, 0, 0, 0.4);
  }

  &__articul {
    font-weight: 200;
    font-size: 14px;
  }

  &__photo-wrapper {
    width: 100%;
    height: 203px;
    position: relative;
    overflow: hidden;
    background-color: $productCardColor;
    margin-bottom: 12px;

    &:hover {
      .product-card__photo {
        height: 120%;
      }
    }
  }

  &__photo {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s height;
  }

  &__title {
    margin-top: 12px;
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 18px;
  }

  $buttonsHeight: 28px;

  &__quantity {
    height: $buttonsHeight;
    display: inline-flex;
  }

  &__add-to-card {
    height: $buttonsHeight;
    text-transform: none;
    padding: 0px;
    margin-left: 10px;
    font-size: 14px;
  }

  &__quantity,
  &__add-to-card {
    width: calc(50% - 5px);
  }

  &__quantity-add > *,
  &__quantity-diff > * {
    font-size: 12px !important;
    border: 1px solid #cccccc;

    &:hover {
      background-color: #cccccc;
    }
  }

  &__quantity-input,
  &__quantity-add,
  &__quantity-diff {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    text-align: center;
  }
}

.callback-form {
  text-align: center;
  display: flex;
  @extend %border-block;

  justify-content: center;
  padding-top: 40px;
  padding-bottom: 70px;
  color: #333;

  &__form {
    max-width: 495px;
  }

  &__title {
    margin-bottom: 38px;
  }

  &__text-fields {
    @extend %border-block;
    padding-bottom: 35px;
  }

  &__input-name {
    margin-bottom: 43px;
  }

  &__icon {
    font-size: 22px;
    color: #000;
    line-height: 1.5em !important;
    width: 23px;
    margin: 0 12px;
  }

  &__button {
    padding: 9px 13px 9px 20px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
  }

  &_underline {
    text-decoration: underline;
  }
}

.footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 67px;
  color: #333333;

  &__title {
    color: inherit;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 19px;
  }

  &__list-link {
    line-height: 28px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__copyright {
    margin-top: 30px;
    font-size: 12px;
  }

  &__contact {
    font-size: 14px;
    padding-top: 8px;
  }

  &__contact-icon {
    margin-right: 12px;
  }

  &__company {
    padding-right: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    &-brand {
      margin-right: 25px;
    }
    &__phone-logo {
      margin-right: 5px;
    }
  }

  .product-card {
    &__quantity,
    &__add-to-card {
      width: calc(100%);
      margin: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .slider-element {
    &__picture {
      margin-left: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .videos {
    &__title {
      margin-right: 0;
      margin-bottom: 28px;
    }

    &__video {
      width: 100%;
    }
  }

  .product-card {
    &__quantity,
    &__add-to-card {
      width: calc(50% - 5px);
    }

    &__add-to-card {
      margin-left: 10px;
    }
  }

  .callback-form {
    &__form {
      width: 90%;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    &-brand img {
      width: 150px;
    }
    &__phone-logo {
      margin-right: 5px;
    }
  }
}
